<div class="container">
  <app-activity-indicator *ngIf="isLoading"></app-activity-indicator>
  <form [formGroup]="searchForm" (ngSubmit)="search()" *ngIf="!isLoading">
    <a href="https://www.itau.com.br">
        <img src="assets/logo.png">
    </a>
    <h3>Encontre Agências<br />próximas a você</h3>
    <div class="form-group">
      <input type="text" formControlName="radius" type="text" placeholder="Informe o raio em km" mask="90" suffix="km" />
      <p class="invalid-feedback" [hidden]="searchForm.get('radius').valid || searchForm.get('radius').untouched">Obrigatório, min. 1 e máx. 50km</p>
    </div>
    <button type="submit">Pesquisar</button>
  </form>
</div>
<div #map id="map" style="display: none"></div>