.detail-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  box-shadow: 2px 2px 10px #041b5f;
}

.detail-card {
  border-radius: 4px;
  padding: 16px 32px;
  cursor: default;
  background: white;
  border: none;
  text-align: center;
  width: 100%;
  box-shadow: 2px 2px 10px #041b5f;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}

h3 {
  color: #021f73;
}

p {
  color: #ec7000;
}

button {
  width: 100%;
  box-shadow: 1px 1px 6px #032894;
}

button:hover {
  box-shadow: 1px 1px 6px #021f73;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .detail-card-container {
    padding: 20px 40px;
  }
  button {
    width: 60%
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .detail-card {
    text-align: left;
  }
  .detail-card-container {
    padding: 0px 10%;
  }
  button {
    width: 40%
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .detail-card-container {
    padding: 0 20%;
  }
}